* {
  box-sizing: border-box;
}

header {
  height: 70px;
  display: flex;
  justify-content: center;
}

#top-bar {
  width: 1140px;
  display: flex;
}

#top-bar > section:first-child,
#top-bar > section:last-child {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-bar img {
  width: 60%;
  height: 60%;
}

#nav {
  flex-basis: 80%;
  height: 50px;
  display: flex;
}

#nav > ul {
  display: flex;
  height: 100%;
  width: 100%;
  list-style: none;
  justify-content: center;
}

#nav li {
  width: 70px;
  text-align: center;
}

#nav a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-align: center;
}

#top-bar button {
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 123, 0);
  color: white;
  height: 30px;
  width: 80%;
  cursor: pointer;
}

main {
  width: 1140px;
  margin: auto;
}

#search-area {
  height: 100px;
  padding-top: 10px;
  display: flex;
}

#search-area > section:first-child {
  flex-basis: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#search-area > section:last-child {
  flex-basis: 90%;
}

#location-btn {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  background-color: #e9e7e7;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

#search-bar {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

#search-form {
  flex-basis: 60%;
}

#hit-keyword {
  flex-basis: 40%;
  display: flex;
}

#search-form > fieldset {
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 30px;
  display: flex;
  padding: 5px 0px;
}

#search-form > fieldset > span:first-child {
  flex-basis: 10%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

#search-form > fieldset > input {
  flex-basis: 85%;
  border: none;
  font-size: 16px;
  padding-left: 10px;
}

#search-form button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  height: 30px;
}

#hit-keyword > span:first-child {
  flex-basis: 10%;
  margin: 16px 0px;
  color: #c7c7c7;
  font-size: 14px;
}

#hit-keyword > span:last-child {
  height: 100%;
  display: flex;
  flex-basis: 90%;
  padding-right: 10px;
}

#hit-keyword ul {
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
}

#hit-keyword a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(71, 71, 71);
  text-align: center;
}

#home {
  text-decoration: none;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

#home:hover {
  text-decoration: underline;
}

#content {
  display: flex;
}

#checklist {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

#checklist > form > div:first-child {
  display: flex;
  justify-content: space-between;
}

#checklist h3 {
  margin-top: 0px;
}

button[type="reset"] {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color:#c7c7c7;
  text-decoration: underline;
  cursor: pointer;
}

#checklist label {
  margin: 20px 0px;
}
